@charset "iso-8859-1";

body { color: black; font-family: Verdana,Arial,sans-serif; font-size: 8pt; }

h3 { font-family:Verdana,Arial,Helvetica;font-weight:bold;font-size:10pt; }
li { margin:0px; padding-left:0px; }
ul { margin:0px; padding-left:20px; }

a,a:link,a:active,a:visited { color: #105498; text-decoration:none; }
a:hover { color: #105498; text-decoration:underline; }
img,input,form,table {margin:0px;padding:0px;}
td { font-size: 8pt; }

.page_x { padding:5px;margin:0px;background-color:#EFEFEF; }
.page_bot div { height:100%;width:100%; }
.page_bot_send { background-color:#DDDDDD; width:45px;height:33px;font-size:8pt;font-weight:bold; } 
.page_recent { background-color:#DDDDDD;padding:0px;margin:0px;margin-left:4px;margin-top:2px;line-height:13px;overflow-y:hidden;overflow-x:hidden;overflow:hidden; }
.page_chat { margin:2px;margin-top:0px;overflow:hidden; }
.page_show { padding:0px;margin:0px;background-color:#EFEFEF; }
.page_main { background-color:#EFEFEF;overflow-y:hidden; overflow-x:hidden;margin:0px; }
.page_bot { background-color:#DDDDDD;padding:0px;margin:0px; }
.nn { line-height:15px; } 
.msg { font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000; font-weight: normal; background-color: #F7F3EF; font-size: 8pt; border: 1px #000000 solid; padding:2px; height:19px;}

div { line-height:13px; width: 1500px; height: 13px; overflow-x:hidden; overflow-y:hidden; overflow:hidden; white-space: nowrap; }

.b { font-style:italic; }

.e1 { color: #000000; }
.f1 { background-color:#000000; cursor:pointer;cursor:hand; margin-left:2px;}
.e2 { color: #107000; }
.f2 { background-color:#107000; cursor:pointer;cursor:hand; margin-left:2px; }
.e3 { color: #900060; }
.f3 { background-color:#900060; cursor:pointer;cursor:hand; margin-left:2px; }
.e4 { color: #808000; }
.f4 { background-color:#808000; cursor:pointer;cursor:hand; margin-left:2px; }
.e5 { color: #005030; }
.f5 { background-color:#005030; cursor:pointer;cursor:hand; margin-left:2px; }
.e6 { color: #600060; }
.f6 { background-color:#600060; cursor:pointer;cursor:hand; margin-left:2px; }
.e7 { color: #D04010; }
.f7 { background-color:#D04010; cursor:pointer;cursor:hand; margin-left:2px; }
.e8 { color: #000080; }
.f8 { background-color:#000080; cursor:pointer;cursor:hand; margin-left:2px; }
.e9 { color: #900000; }
.f9 { background-color:#900000; cursor:pointer;cursor:hand; margin-left:2px; }
.e0 { color: #006080; }
.f0 { background-color:#006080; cursor:pointer;cursor:hand; margin-left:2px; }
