</td></tr></table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="20">&nbsp;</td>
          <td width="50" class="greybar">&nbsp;</td>
          <td class="txt"><div align="center"><span class="copyright"><br />
             <a href="http://www.TransFans.co.uk/cgi-bin/newsfeed.cgi">TransFans.co.uk News Feed <img src="../images/rss.jpg" alt="RSS"></a></br>
                        <a href="http://www.TransFans.co.uk/cgi-bin/community.cgi">TransFans.co.uk Community Feed <img src="../images/rss.jpg" alt="RSS"</a><br /><br />

		 {ADMIN_LINK}<br />
              <!--
	We request you retain the full copyright notice below including the link to www.phpbb.com.
	This not only gives respect to the large amount of time given freely by the developers
	but also helps build interest, traffic and use of phpBB 2.0. If you cannot (for good
	reason) retain the full copyright we request you at least leave in place the 
	Powered by phpBB line, with phpBB linked to www.phpbb.com. If you refuse
	to include even this then support on our forums may be affected. 

	The phpBB Group : 2002
// -->
Powered by <a href="http://www.phpbb.com/" target="_phpbb" class="copyright">phpBB</a> &copy; 2001, 2005 phpBB Group<br />{TRANSLATION_INFO}</span></div>
        </tr>
        <tr> 
          <td colspan="3"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><form name="form1" method="post" action="../quicksearch.php">
        <table width="100%" border="0" cellspacing="0" cellpadding="4">
          <tr class="menurow2"> 
            <td><a href="../contact.php" class="mainmenu2">contact</a> | <a href="../staff.php" class="mainmenu2">staff</a> 
              | <a href="../history.php" class="mainmenu2">history</a> | <a href="../disclaimer.php" class="mainmenu2">disclaimer</a> 
              | <a href="../rules.php" class="mainmenu2">forum rules</a></td>
            <td  align="right" valign="middle"> <input type="text" name="search" class="inputsmall"> 
              <input type="hidden" name="series" value=""> <input type="hidden" name="section" value="comics"> 
              <input type="submit" name="Submit" value="search" class="searchbutton"> 
            </td>
          </tr>
        </table>
      </form>
</td>
  </tr>
</table>
</body>
</html>
