/*
  The original subSilver Theme for phpBB version 2+
  Created by subBlue design
  http://www.subBlue.com
*/


 /* General page style. The scroll bar colours only visible in IE5.5+ */
body {
   font-family: Arial, Helvetica, sans-serif; 
   color:#000;
   background-color: #E9E9E9;
   margin: 0px;
   padding:0px; /* for Opera */
}

/* General font families for common tags */
a:link,a:active,a:visited { color : #105498; }
a:hover		{ text-decoration: underline; color : #105498; }
hr	{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}


/* This is the outline round the main forum tables */
.forumline	{ background-color: #FFFFFF; border: 0px #105498 solid; }


/* Main table cell colours and backgrounds */
td.row1	{ background-color: #EFEFEF; }
td.row2	{ background-color: #DDDDDD; }
td.row3	{ background-color: #DDDDDD; }
td.row4	{ background-color: #105498; }
td.greybar {background-color: #D7D7D7;}
td.txt {padding-left: 10px; padding-right: 10px;}


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
		background-color: #D7D7D7; color #fff;
}

/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #fff; font-size: 13px; font-weight : bold;
	background-color: #146AC0; height: 25px;
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
			color #fff;
			background-color: #D7D7D7; border: #FFFFFF; border-style: solid; height: 28px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: #105498; border-style: solid; height: 28px; }
td.row3Right,td.spaceRow {
	background-color: #E6E6E6; ; border: #FFFFFF; border-style: solid; }

th.thHead,td.catHead { font-size: 13px; border-width: 1px 1px 0px 1px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 1px 0px 1px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 1px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 1px; }
th.thBottom,td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop	 { border-width: 1px 0px 0px 0px; }
th.thCornerL { border-width: 1px 0px 0px 1px; }
th.thCornerR { border-width: 1px 1px 0px 0px; }


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
			font-weight: bold; font-size: 18px;
			text-decoration: none; line-height : 120%; color : #105498;
}


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #000; }
a.gen,a.genmed,a.gensmall { color: #105498; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #105498; text-decoration: underline; }


/* The register, login, search etc links at the top of the page */
tr.menurow2 {background-color: #105498; color:#fff;  font-size : 12px;}
tr.menurow3 {background-color: #0D4277; color:#fff; font-size : 11px;}
.mainmenu		{ font-size : 12px; color : #105498; }
a.mainmenu	{ text-decoration: none; color :#105498;  }
a.mainmenu:hover{ text-decoration: underline; color : #105498; }
.mainmenu2		{ font-size : 12px; color : #fff; }
a.mainmenu2,a.mainmenu2:visited,a.mainmenu2:active	{ text-decoration: none; color :#fff;  }
a.mainmenu2:hover{ text-decoration: underline; color : #fff; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 13px ; letter-spacing: 1px; color : #105498;}
a.cattitle		{ text-decoration: none; color : #105498; }
a.cattitle:hover{ text-decoration: underline; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 13px; color : #105498; }
a.forumlink 	{ text-decoration: none; color :#105498; }
a.forumlink:hover{ text-decoration: underline; color : #105498; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #000;}
a.nav	{ text-decoration: none; color : #105498; }
a.nav:hover		{ text-decoration: underline; }
.nav2			{ font-weight: bold; font-size: 10pt; color : #000;}
a.nav2	{ text-decoration: none; color : #105498; }
a.nav2:hover		{ text-decoration: underline; }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 12px; color : #000000; }
a.topictitle:link   { text-decoration: none; color : #105498; }
a.topictitle:visited { text-decoration: none; color : #105498; }
a.topictitle:hover	{ text-decoration: underline; color : #105498; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #000000;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #000000; }


/* The content of the posts (body of text) */
.postbody { font-size : 13px;}
a.postlink:link	{ text-decoration: none; color : #105498; }
a.postlink:visited { text-decoration: none; color : #105498; }
a.postlink:hover { text-decoration: underline; color : #105498;}


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #444444; line-height: 125%;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
a.copyright		{ color: #444444; text-decoration: none;}
a.copyright:hover { color: #000000; text-decoration: underline;}


/* Form elements */
input,textarea, select {
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-color : #000000;
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #FFFFFF;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #EFEFEF;
	color : #000000;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
	background-color : #FAFAFA;
	font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
	background-color : #FAFAFA;
	font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #DEE3E7; border-style: none; }


/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */

/* FORMS ////////////////////////////////////////////////////////// */


form { margin: 0px; }


.inputsmall
{  
  width: 132px;
  height: 14px;
  background-color: #66ACD6;
  font-size: 10px; 
  color: #000;
  border: 0px;
}


.searchbutton
{  
  width: 50px;
  height: 14px;
  background-color: #105498;
  font-size: 12px; 
  color: #fff;
  border: 0px;
}