<form method="post" action="{S_POST_DAYS_ACTION}">
              <table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
                <tr> 
                  <td width="150%" align="left" valign="bottom"> <h1>{FORUM_NAME}</h1>
                    <span class="nav2"><a href="{U_INDEX}" class="nav2">{L_INDEX}</a> 
                    | <a class="nav2" href="{U_VIEW_FORUM}">{FORUM_NAME}</a></span> 
                    <br /> <span class="gensmall"></span></td>
                  <td align="right" valign="bottom" nowrap="nowrap"><span class="gensmall"><b>{PAGINATION}</b>      <a href="{U_POST_NEW_TOPIC}"><img src="{POST_IMG}" border="0" alt="{L_POST_NEW_TOPIC}" /></a></span></td>
                </tr>
              </table>
              <table border="0" cellpadding="4" cellspacing="1" width="100%" class="forumline">
                <tr> 
                  <th colspan="2" align="center" height="25" class="thCornerL" nowrap="nowrap"> {L_TOPICS} </th>
                  <th width="50" align="center" class="thTop" nowrap="nowrap"> {L_REPLIES} </th>
                  <th width="100" align="center" class="thTop" nowrap="nowrap"> {L_AUTHOR} </th>
                  <th width="50" align="center" class="thTop" nowrap="nowrap"> {L_VIEWS} </th>
                  <th align="center" class="thCornerR" nowrap="nowrap"> {L_LASTPOST} </th>
                </tr>
                <!-- BEGIN topicrow -->
                <tr> 
                  <td class="row1" align="center" valign="middle" width="20"><img src="{topicrow.TOPIC_FOLDER_IMG}" width="19" height="18" alt="{topicrow.L_TOPIC_FOLDER_ALT}" title="{topicrow.L_TOPIC_FOLDER_ALT}" /></td>
                  <td class="row1" width="100%"><span class="topictitle">{topicrow.NEWEST_POST_IMG}{topicrow.TOPIC_TYPE}<a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a></span><span class="gensmall"><br />
                    {topicrow.GOTO_PAGE}</span></td>
                  <td class="row2" align="center" valign="middle"><span class="postdetails">{topicrow.REPLIES}</span></td>
                  <td class="row3" align="center" valign="middle"><span class="name">{topicrow.TOPIC_AUTHOR}</span></td>
                  <td class="row2" align="center" valign="middle"><span class="postdetails">{topicrow.VIEWS}</span></td>
                  <td class="row3Right" align="center" valign="middle" nowrap="nowrap"><span class="postdetails">{topicrow.LAST_POST_TIME}<br />
                    {topicrow.LAST_POST_AUTHOR} {topicrow.LAST_POST_IMG}</span></td>
                </tr>
                <!-- END topicrow -->
                <!-- BEGIN switch_no_topics -->
                <tr> 
                  <td class="row1" colspan="6" height="30" align="center" valign="middle"><span class="gen">{L_NO_TOPICS}</span></td>
                </tr>
                <!-- END switch_no_topics -->
                <tr> 
                  <td class="catBottom" align="center" valign="middle" colspan="6" height="28"><span class="genmed">{L_DISPLAY_TOPICS}: {S_SELECT_TOPIC_DAYS}  
                    <input type="submit" class="liteoption" value="{L_GO}" name="submit" />
                    </span></td>
                </tr>
              </table>
              <table cellspacing="2" border="0" align="center" cellpadding="2">
                <tr> 
                  <td align="left" valign="middle" width="32"><a href="{U_POST_NEW_TOPIC}"><img src="{POST_IMG}" border="0" alt="{L_POST_NEW_TOPIC}" /></a></td>
                  <td align="left" valign="middle" width="818"><span class="nav">   <a href="{U_INDEX}" class="nav">{L_INDEX}</a> 
                    | <a class="nav" href="{U_VIEW_FORUM}">{FORUM_NAME}</a></span></td>
                  <td width="135" align="right" valign="middle" nowrap="nowrap"><span class="gensmall">{S_TIMEZONE}</span><br /> 
                    <span class="nav">{PAGINATION}</span> </td>
                </tr>
                <tr> 
                  <td align="left" colspan="3"><p><span class="nav">{PAGE_NUMBER}</span></p>
                    <p><span class="gensmall"><b>{L_MODERATOR}: {MODERATORS}<br />
                      <br />
                      {LOGGED_IN_USER_LIST}</b></span></p></td>
                </tr>
              </table>
            </form>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td align="right">{JUMPBOX}</td>
              </tr>
            </table>