@charset "iso-8859-1";

body { color: black; font-family: Verdana,Arial,sans-serif; font-size: 8pt; }

h3 { font-family:Verdana,Arial,Helvetica;font-weight:bold;font-size:10pt; }
li { margin:0px; padding-left:0px; }
ul { margin:0px; padding-left:20px; }

a,a:link,a:active,a:visited { color:blue; text-decoration:none; }
a:hover { color:blue; text-decoration:underline; }
img,input,form,table {margin:0px;padding:0px;}
td { font-size: 8pt; }

.msg { font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000; font-weight: normal; background-color: white; font-size: 8pt; border: 1px gray solid; padding:2px; height:19px;}

div { line-height:13px; width: 1500px; height: 13px; overflow-x:hidden; overflow-y:hidden; overflow:hidden; }

.e1 { color: #000000; }
.f1 { background-color:#000000; cursor:pointer;cursor:hand; margin-left:2px;}
.e2 { color: #107000; }
.f2 { background-color:#107000; cursor:pointer;cursor:hand; margin-left:2px; }
.e3 { color: #900060; }
.f3 { background-color:#900060; cursor:pointer;cursor:hand; margin-left:2px; }
.e4 { color: #808000; }
.f4 { background-color:#808000; cursor:pointer;cursor:hand; margin-left:2px; }
.e5 { color: #005030; }
.f5 { background-color:#005030; cursor:pointer;cursor:hand; margin-left:2px; }
.e6 { color: #600060; }
.f6 { background-color:#600060; cursor:pointer;cursor:hand; margin-left:2px; }
.e7 { color: #D04010; }
.f7 { background-color:#D04010; cursor:pointer;cursor:hand; margin-left:2px; }
.e8 { color: #000080; }
.f8 { background-color:#000080; cursor:pointer;cursor:hand; margin-left:2px; }
.e9 { color: #900000; }
.f9 { background-color:#900000; cursor:pointer;cursor:hand; margin-left:2px; }
.e0 { color: #006080; }
.f0 { background-color:#006080; cursor:pointer;cursor:hand; margin-left:2px; }