<!-- IF S_TYPE == 1 -->
<div>
	<h3>{L_CONFIRMATION}</h3>
<!-- ENDIF -->

	<p><label>{QA_CONFIRM_QUESTION} {L_CONFIRM_QUESTION_EXPLAIN}
		<input type="text" tabindex="{$CAPTCHA_TAB_INDEX}" name="qa_answer" id="answer" size="45"  class="inputbox autowidth" title="{L_ANSWER}" /></label>
		<input type="hidden" name="qa_confirm_id" id="qa_confirm_id" value="{QA_CONFIRM_ID}" /></p>

<!-- IF S_TYPE == 1 -->
</div>
<!-- ENDIF -->
