<!-- IF S_TYPE == 1 -->
<div>
	<h3>{L_CONFIRMATION}</h3>
	<p>{L_CONFIRM_EXPLAIN}</p>
<!-- ENDIF -->

		<p><label for="confirm_code">{L_CONFIRM_CODE}
		<img src="{CONFIRM_IMAGE_LINK}" alt="{L_CONFIRM_CODE}" />
		<input type="text" name="confirm_code" id="confirm_code" size="8" maxlength="8" tabindex="{$CAPTCHA_TAB_INDEX}" class="inputbox narrow" title="{L_CONFIRM_CODE}" /></label>
		<!-- IF S_CONFIRM_REFRESH -->
		<input type="submit" name="refresh_vc" id="refresh_vc" class="btn" value="{L_VC_REFRESH}" /><!-- ENDIF --></p>
		<input type="hidden" name="confirm_id" id="confirm_id" value="{CONFIRM_ID}" /></p>
		<p>{L_CONFIRM_CODE_EXPLAIN}</p>

<!-- IF S_TYPE == 1 -->
</div>
<!-- ENDIF -->
