<!-- INCLUDE overall_header.html -->

<h2>{L_FAQ_TITLE}</h2>
<!-- BEGIN faq_block -->
	<div class="row-fluid">
		<div class="span4"><strong>{faq_block.BLOCK_TITLE}</strong></div>
		<div class="span8">
			<ul>
		<!-- BEGIN faq_row -->
				<li><a href="#f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}">{faq_block.faq_row.FAQ_QUESTION}</a></li>
		<!-- END faq_row -->
			</ul>
		</div>
	</div>
<!-- END faq_block -->

<!-- BEGIN faq_block -->
	<article>
			<h3>{faq_block.BLOCK_TITLE}</h3>
			<!-- BEGIN faq_row -->
				<dl class="faq">
					<dt id="f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}"><strong>{faq_block.faq_row.FAQ_QUESTION}</strong></dt>
					<dd>{faq_block.faq_row.FAQ_ANSWER}</dd>
					<dd><a href="#faqlinks" class="top2">{L_BACK_TO_TOP}</a></dd>
				</dl>
				<!-- IF not faq_block.faq_row.S_LAST_ROW --><hr class="dashed" /><!-- ENDIF -->
			<!-- END faq_row -->
	</article>
<!-- END faq_block -->

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
