<!-- IF PAGINATION == FALSE -->
<div class="well well-small">
<fieldset>
<!-- BEGIN forumrow -->
	<!-- IF forumrow.S_IS_CAT -->
            </fieldset>
            <fieldset>
			<legend>{forumrow.FORUM_NAME}</legend>
	<!-- ELSE -->
		<article>
        <div class="row-fluid">
            
		        <aside class="span9">
       
                <dt>
                    <a href="{forumrow.U_VIEWFORUM}">
                    <!-- IF forumrow.S_UNREAD_FORUM -->
                    <i class="icon-asterisk"></i>
                    <!-- ELSE -->
                    <i class="icon-minus"></i>
                    <!-- ENDIF -->
                    {forumrow.FORUM_NAME}</a></dt>
                <dd>
                {forumrow.FORUM_DESC}
                </dd>
                </dl>
             
                
                
                </aside>
            <div class="span3">
        	        <!-- IF forumrow.LAST_POST_TIME -->
			
                    <a href="{forumrow.U_LAST_POST}" class="btn btn-info btn-mini">
                        <i class="icon-circle-arrow-right icon-white"></i> 
                    most recent
                    </a>
		
                <!-- ENDIF -->
                <span class="label label-inverse btn-medium"><i class="icon-th-list icon-white"></i> {forumrow.TOPICS} topics</span>
    			        <span class="label"><i class="icon-list icon-white"></i> {forumrow.POSTS} replies</span>
                        <!-- IF forumrow.MODERATORS -->
    		    <p>{forumrow.MODERATORS}</p>
			                <!-- ENDIF -->
			                <!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS -->
			                <p><strong>{forumrow.L_SUBFORUM_STR}</strong> {forumrow.SUBFORUMS}</p>
			                <!-- ENDIF -->
            </div>
		</div>
	    </article>
        <hr>
	<!-- ENDIF -->
<!-- END forumrow -->
</fieldset>
</div>
<!-- ENDIF -->