<!-- INCLUDE overall_header.html -->
<div class="hero-unit">
    <h1><q>&ldquo;I have summoned you here&hellip; for a purpose!&rdquo;</q> <small><em>Unicron</em>, Orson Welles</small></h1>
    <p><span class="lead">
        Since 1997, TransFans has been a vibrant community for fans of <em>The Transformers</em> franchise.</span>  Join the discussion!
    </p>
</div>
<!-- INCLUDE forumlist_body.html -->

<section class=" well well-small">
<div class="row-fluid">
	<section class="span4">
	<!-- IF U_VIEWONLINE --><p class="lead"><a href="{U_VIEWONLINE}">Who's online?</a></p><!-- ELSE -->
    <p class="lead">Who's online?</p><!-- ENDIF -->
	<p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
	<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF --></p>
	</section>

<section class="span4">
	<p class="lead">{L_BIRTHDAYS}</p>
	<p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
	</section>

<section class="span4">
	<p class="lead">{L_STATISTICS}</p>
	<p>{TOTAL_POSTS};<br> {TOTAL_TOPICS};<br> {TOTAL_USERS};<br> {NEWEST_USER}</p>
	</section>
</div>
</section>
<!-- INCLUDE overall_footer.html -->
