<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
// <![CDATA[
	onload_functions.push('document.getElementById("<!-- IF S_ADMIN_AUTH -->{PASSWORD_CREDENTIAL}<!-- ELSE -->{USERNAME_CREDENTIAL}<!-- ENDIF -->").focus();');
// ]]>
</script>

<form action="{S_LOGIN_ACTION}" method="post" id="login" class="form-horizontal">
<section class="well">

		<h2><!-- IF LOGIN_EXPLAIN -->{LOGIN_EXPLAIN}<!-- ELSE -->{L_LOGIN}<!-- ENDIF --></h2>

		<!-- IF LOGIN_ERROR --><div class="text-error">{LOGIN_ERROR}</div><!-- ENDIF -->
			<div class="control-group">
        <label class="control-label" for="{USERNAME_CREDENTIAL}">{L_USERNAME}</label>
        <div class="controls">
			    <input type="text" tabindex="1" name="{USERNAME_CREDENTIAL}" id="{USERNAME_CREDENTIAL}" required title="Who are you?" size="25" value="{USERNAME}" />
        </div>
      </div>
			<div class="control-group">
        <label class="control-label" for="{PASSWORD_CREDENTIAL}">{L_PASSWORD} </label>
        <div class="controls">
			    <input type="password" tabindex="2" id="{PASSWORD_CREDENTIAL}" name="{PASSWORD_CREDENTIAL}" required title="Please prove who you are" size="25" />
          <br><br>
          <!-- IF S_DISPLAY_FULL_LOGIN and (U_SEND_PASSWORD or U_RESEND_ACTIVATION) -->
  			  <!-- IF U_SEND_PASSWORD --><a href="{U_SEND_PASSWORD}" class="btn btn-mini btn-danger">{L_FORGOT_PASS}</a> <!-- ENDIF -->
				  <!-- IF U_RESEND_ACTIVATION --><a href="{U_RESEND_ACTIVATION}" class="btn btn-mini btn-warning">{L_RESEND_ACTIVATION}</a> <!-- ENDIF -->
          
			  <!-- ENDIF -->
        <!-- IF S_DISPLAY_FULL_LOGIN -->
  		<!-- IF S_AUTOLOGIN_ENABLED -->
      <div class="control-group">
        <label for="autologin" class="control-label"><small>{L_LOG_ME_IN}</small></label>
        <div class="controls">
          <input type="checkbox" name="autologin" id="autologin" tabindex="4" />
        </div>
      
      </div>
      <!-- ENDIF -->
            <div class="control-group">
        <label for="viewonline" class="control-label"><small>{L_HIDE_ME}</small></label>
        <div class="controls">
          <input type="checkbox" name="viewonline" id="viewonline" tabindex="5" />
        </div>
      
      </div>

		<!-- ENDIF -->
        </div>
      </div>
			
		<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
			<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
			<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
		<!-- ENDIF -->
		

		{S_LOGIN_REDIRECT}
			<p>{S_HIDDEN_FIELDS}<input type="submit" name="login" tabindex="6" value="{L_LOGIN}" class="btn btn-large btn-success" /></p>
</section>
<!-- IF not S_ADMIN_AUTH and S_REGISTER_ENABLED -->
<section class="well">
			<h3>{L_REGISTER}</h3>
			<p>{L_LOGIN_INFO}</p>
			<p><strong><a href="{U_TERMS_USE}">{L_TERMS_USE}</a>, <a href="{U_PRIVACY}">{L_PRIVACY}</a></strong></p>
			<hr class="dashed" />
			<p><a href="{U_REGISTER}" class="btn btn-details btn-large">{L_REGISTER}</a></p>

<!-- ENDIF -->
</section>
</form>
<!-- INCLUDE overall_footer.html -->
