</div>
<footer class="navbar navbar-bottom">
  <div class="navbar-inner">
		<ul class="nav">
			<!-- IF U_TEAM --><li><a href="{U_TEAM}"><i class="icon-user"></i> {L_THE_TEAM}</a></li><!-- ENDIF -->
            <!-- IF not S_IS_BOT --><li><a href="{U_DELETE_COOKIES}"><i class="icon-trash"></i> {L_DELETE_COOKIES}</a></li> <!-- ENDIF --><li class="divider-vertical"></li>
            <li><a href="#"><i class="icon-time"></i> {S_TIMEZONE}</a></li>
		</ul>
  </div>
</footer>
</div>
	<a id="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>
<script type="text/javascript" src="styles/transfans/theme/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="styles/transfans/theme/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="styles/transfans/theme/js/jquery.cookie.js"></script>
<script type="text/javascript" src="styles/transfans/theme/js/modernizr.js"></script>
<script type="text/javascript" src="styles/transfans/theme/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="styles/transfans/theme/js/site.js"></script>

</body>
</html>
