<!-- INCLUDE overall_header.html -->
<div class="hero-unit">
<h1>{FORUM_NAME}
    </h1>
    <!-- IF FORUM_DESC or MODERATORS or U_MCP -->
    <!-- IF MODERATORS --><strong><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->
    {L_MODERATORS}<!-- ENDIF -->:</strong> {MODERATORS}<!-- ENDIF -->
<!-- ENDIF -->
    
</div>


<!-- IF S_FORUM_RULES -->
	<div class="rules">

		<!-- IF U_FORUM_RULES -->
			<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
		<!-- ELSE -->
			<strong>{L_FORUM_RULES}</strong><br />
			{FORUM_RULES}
		<!-- ENDIF -->

	</div>
<!-- ENDIF -->
<div class="row-fluid">
	<!-- INCLUDE forumlist_body.html -->
    <div class="span4">
	<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
        <a href="{U_POST_NEW_TOPIC}" class="btn btn-primary"><!-- IF S_IS_LOCKED --><i class="icon-lock icon-white"></i> {L_FORUM_LOCKED}<!-- ELSE --><i class="icon-edit icon-white"></i> {L_POST_TOPIC}<!-- ENDIF --></a>
	<!-- ENDIF -->
    <!-- IF not S_IS_BOT and U_MARK_TOPICS --><a class="btn btn-mini" href="{U_MARK_TOPICS}" accesskey="m">{L_MARK_TOPICS_READ}</a> <!-- ENDIF -->
    <!-- IF U_MCP --><a href="{U_MCP}" class="btn btn-danger btn-mini">{L_MCP}</a><!-- ENDIF -->
    </div>
    <div class="span8 paginationColours text-right">
	<!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->

			<!-- IF TOTAL_TOPICS -->{TOTAL_TOPICS} &mdash;  <!-- ENDIF -->

			<!-- IF PAGE_NUMBER -->
				<!-- IF PAGINATION --> <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &mdash; {PAGINATION}<!-- ELSE --> <li class="disabled"><a href="#">{PAGE_NUMBER}</a> <!-- ENDIF -->
			<!-- ENDIF -->
            <!-- IF S_DISPLAY_SEARCHBOX -->
    		<form method="get" id="forum-search" action="{S_SEARCHBOX_ACTION}" class="input-append">
				<input class="inputbox search tiny" type="text" name="keywords" id="search_keywords" size="20" value="{L_SEARCH_FORUM}" onclick="if (this.value == '{LA_SEARCH_FORUM}') this.value = '';" onblur="if (this.value == '') this.value = '{LA_SEARCH_FORUM}';" />
				<input class="btn btn-inverse" type="submit" value="{L_SEARCH}" />
				{S_SEARCH_LOCAL_HIDDEN_FIELDS}
			</form>
	<!-- ENDIF -->

	<!-- ENDIF -->
    </div>
</div>

<!-- IF S_NO_READ_ACCESS -->



	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
<div class="well">
		<h3>{L_NO_READ_ACCESS}</h3>
		<form action="{S_LOGIN_ACTION}" method="post">

				<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>

					<p><label for="username">{L_USERNAME}:</label>
					<input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" /></p>
					<p><label for="password">{L_PASSWORD}:</label>
					<input type="password" tabindex="2" id="password" name="password" size="25" class="inputbox autowidth" /></p>
					<!-- IF S_AUTOLOGIN_ENABLED --><p><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="3" /> {L_LOG_ME_IN}</label></p><!-- ENDIF -->
					<p><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="4" /> {L_HIDE_ME}</label></p>
					<p><input type="submit" name="login" tabindex="5" value="{L_LOGIN}" class="btn btn-success" /></p>
				{S_LOGIN_REDIRECT}


		</form>
</div>
	<!-- ENDIF -->

<!-- ENDIF -->
<div class="well">
<table class="table table-striped">
<colgroup>
    <col class="span4"></col>
    <col class="span3"></col>
    <col class="span1"></col>
    <col class="span1"></col>
    <col class="span3"></col>
</colgroup>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Replies</th>
      <th>Views</th>
      <th>Last post</th>
    </tr>
  </thead>
<tbody>
<!-- BEGIN topicrow -->
<tr><td>
			<img src="{topicrow.TOPIC_FOLDER_IMG_SRC}" alt="" />
				<!-- IF topicrow.TOPIC_ICON_IMG and S_TOPIC_ICONS --> <img src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" alt="{topicrow.TOPIC_FOLDER_IMG_ALT}" />
<!-- ENDIF --> <!-- IF topicrow.S_UNREAD_TOPIC -->
<a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF -->
<a href="{topicrow.U_VIEW_TOPIC}">{topicrow.TOPIC_TITLE}</a>
<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED --><a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a> <!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_REPORTED --><a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF -->
					<!-- IF topicrow.PAGINATION --><small>{topicrow.PAGINATION}</small><!-- ENDIF -->
					<!-- IF topicrow.ATTACH_ICON_IMG -->{topicrow.ATTACH_ICON_IMG} <!-- ENDIF --></td><td><i class="icon-pencil"></i> {topicrow.TOPIC_AUTHOR_FULL} (<small>{topicrow.FIRST_POST_TIME}</small>)</td><td>
				<span class="label label-mini label-info">{topicrow.REPLIES}</span></td><td>
				<span class="label label-mini">{topicrow.VIEWS}</span></td><td><i class="icon-refresh"></i> 
				{topicrow.LAST_POST_AUTHOR_FULL}
					<!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --> (<small>{topicrow.LAST_POST_TIME}</small>)
</td>

<!-- BEGINELSE -->
	<!-- IF S_IS_POSTABLE --><td colspan="5">
		<strong>{L_NO_TOPICS}</strong></td>
	<!-- ENDIF -->
</tr>
<!-- END topicrow -->
</tbody>
</table>
<!-- IF S_SELECT_SORT_DAYS and not S_DISPLAY_ACTIVE -->
	<form method="post" action="{S_FORUM_ACTION}">
		<fieldset class="display-options">
			<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="btn btn-info {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
			<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="btn btn-info {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
	<!-- IF not S_IS_BOT -->
			<p>{L_DISPLAY_TOPICS}: {S_SELECT_SORT_DAYS}
			{L_SORT_BY} {S_SELECT_SORT_KEY}
			{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="btn btn-inverse" /></p>
	<!-- ENDIF -->
		</fieldset>
	</form>
<!-- ENDIF -->
</div>
<!-- IF .topicrow and not S_DISPLAY_ACTIVE -->
		<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
		<p>	<a class="btn btn-primary" href="{U_POST_NEW_TOPIC}"><span></span><!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF --></a></p>
		<!-- ENDIF -->

		<!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
		<div class="well">
			<!-- IF TOTAL_TOPICS and not S_IS_BOT and U_MARK_TOPICS --><a href="{U_MARK_TOPICS}">{L_MARK_TOPICS_READ}</a> &bull;  <!-- ENDIF -->
			<!-- IF TOTAL_POSTS and not NEWEST_USER --> {TOTAL_POSTS}<!-- ELSEIF TOTAL_TOPICS and not NEWEST_USER --> {TOTAL_TOPICS}<!-- ENDIF -->
			<!-- IF TOTAL_USERS -->{TOTAL_USERS}<!-- ENDIF -->
			<!-- IF PAGINATION --> &bull;  <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a>
			 &bull;  <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
		</div>
		<!-- ENDIF -->
<!-- ENDIF -->

<!-- INCLUDE jumpbox.html -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
<div class="well">
	<h3><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h3>
	<p>{LOGGED_IN_USER_LIST}</p>
</div>
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO -->
<div class="well">
	<h3>{L_FORUM_PERMISSIONS}</h3>
	<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>
</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
