<!-- IF S_TYPE == 1 -->
<div>
	<h3>{L_CONFIRMATION}</h3>
	<p>{L_CONFIRM_EXPLAIN}</p>
<!-- ENDIF -->

<!-- IF S_RECAPTCHA_AVAILABLE -->
	<p><label>{L_CONFIRM_CODE} {L_RECAPTCHA_EXPLAIN}</label></p>
		<script type="text/javascript">
		// <![CDATA[
		var RecaptchaOptions = {
			lang : '{LA_RECAPTCHA_LANG}',
			theme : 'clean',
			tabindex : <!-- IF $CAPTCHA_TAB_INDEX -->{$CAPTCHA_TAB_INDEX}<!-- ELSE -->10<!-- ENDIF -->
		};
		// ]]>
		</script>
		<script type="text/javascript" src="{RECAPTCHA_SERVER}/challenge?k={RECAPTCHA_PUBKEY}{RECAPTCHA_ERRORGET}"></script>
		<script type="text/javascript">
		// <![CDATA[
		<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
			document.getElementById('recaptcha_table').style.direction = 'ltr';
		<!-- ENDIF -->
		// ]]>
		</script>
		<noscript>
		<div>
			<object data="{RECAPTCHA_SERVER}/noscript?k={RECAPTCHA_PUBKEY}{RECAPTCHA_ERRORGET}" type="text/html" height="300" width="500"></object><br />
			<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
			<input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
		</div>
		</noscript>

<!-- ELSE -->
{L_RECAPTCHA_NOT_AVAILABLE}
<!-- ENDIF -->

<!-- IF S_TYPE == 1 -->
</div>
<!-- ENDIF -->
