<!-- INCLUDE overall_header.html -->
<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">
	<h2>{MESSAGE_TITLE}</h2>
	<p>{MESSAGE_TEXT}</p>
	{S_HIDDEN_FIELDS}
	<p>
	<input type="submit" name="cancel" value="{L_NO}" class="btn btn-default" />
	&nbsp;&nbsp;
	&nbsp;&nbsp;
	&nbsp;&nbsp;
	&nbsp;&nbsp;
	<input type="submit" name="confirm" value="{L_YES}" class="btn btn-link" /> 
	</p>
</form>
<!-- INCLUDE overall_footer.html -->
