<!-- IF .draftrow -->
	<h3>{L_LOAD_DRAFT}</h3>
	<p>{L_LOAD_DRAFT_EXPLAIN}</p>
	<div class="row-fluid">
		<div class="span6">
			{L_LOAD_DRAFT}
		</div>
		<div class="span6">
			{L_SAVE_DATE}
		</div>
	</div>
	<!-- BEGIN draftrow -->
	<div class="row-fluid">
		<div class="span4">
			<a href="{draftrow.U_INSERT}" title="{L_LOAD_DRAFT}" class="topictitle">{draftrow.DRAFT_SUBJECT}</a>
		</div>
		<div class="span4">
			<!-- IF not S_PRIVMSGS --><!-- IF draftrow.S_LINK_TOPIC -->{L_TOPIC}: <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
			<!-- ELSEIF draftrow.S_LINK_FORUM -->{L_FORUM}: <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
			<!-- ELSE -->{L_NO_TOPIC_FORUM}<!-- ENDIF --><!-- ENDIF -->
		</div>
		<div class="span4">
			{draftrow.DATE}
		</div>
	</div>
	<!-- END draftrow -->
<!-- ENDIF -->
