<!-- INCLUDE overall_header.html -->
<section class="well">
<h2 class="solo">{L_LOGIN} {FORUM_NAME}</h2>

<form id="login_forum" method="post" action="{S_LOGIN_ACTION}">
{S_FORM_TOKEN}

	<p>{L_LOGIN_FORUM}</p>

	<!-- IF LOGIN_ERROR -->
			<div class="text-error">{LOGIN_ERROR}</div>
	<!-- ENDIF -->
		<p><label for="password">{L_PASSWORD} 
		<input class="inputbox narrow" type="password" name="password" id="password" size="25" tabindex="1" /></label></p>
		<p>{S_HIDDEN_FIELDS}<input type="submit" name="login" id="login" class="btn btn-success" value="{L_LOGIN}" tabindex="2" /></p>
	{S_LOGIN_REDIRECT}
</form>
</section>
<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
