<!-- INCLUDE overall_header.html -->

<div class="well">
<h1>{TOPIC_TITLE}
</h1>
</div>

<!-- IF S_FORUM_RULES --><p>
		<!-- IF U_FORUM_RULES -->
			<a href="{U_FORUM_RULES}" class="btn">{L_FORUM_RULES}</a>
		<!-- ELSE -->
			<strong>{L_FORUM_RULES}</strong>
			{FORUM_RULES}
		<!-- ENDIF -->
</p>
<!-- ENDIF -->

<div class="row-fluid">
<div class="span6">
<p>
	<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
		<a href="{U_POST_REPLY_TOPIC}" class="btn btn-primary" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->"><!-- IF S_IS_LOCKED --><i class="icon-lock icon-white"></i>{L_TOPIC_LOCKED_SHORT}<!-- ELSE --><i class="icon-edit icon-white"></i> {L_POST_REPLY}<!-- ENDIF --></a>
	<!-- ENDIF -->
    <!-- IF U_MCP --><a href="{U_MCP}" class="btn btn-danger btn-mini">{L_MCP}</a><!-- ENDIF -->
</p>
</div>
<div class="span6 text-right">
	<!-- IF PAGINATION or TOTAL_POSTS -->
    <p>
			<!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT --><a href="{U_VIEW_UNREAD_POST}">{L_VIEW_UNREAD_POST}</a> &bull; <!-- ENDIF -->{TOTAL_POSTS}
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
	</p>
    <!-- ENDIF -->
    </div>
    </div>
<div class="content">
<!-- IF S_HAS_POLL -->
	<form method="post" action="{S_POLL_ACTION}">
		<h2>{POLL_QUESTION}</h2>
		<p class="author">{L_POLL_LENGTH}<!-- IF S_CAN_VOTE and L_POLL_LENGTH --><br /><!-- ENDIF --><!-- IF S_CAN_VOTE -->{L_MAX_VOTES}<!-- ENDIF --></p>

		<div class="well">
			<!-- BEGIN poll_option -->
			<div class="row-fluid">
                <div class="span2">
			        <!-- IF S_CAN_VOTE -->
                    <label for="vote_{poll_option.POLL_OPTION_ID}">{poll_option.POLL_OPTION_CAPTION}</label>
                    <!-- ELSE -->{poll_option.POLL_OPTION_CAPTION}
                    <!-- ENDIF -->
                </div>
                <div class="span8">
				    <!-- IF S_CAN_VOTE -->
                    <!-- IF S_IS_MULTI_CHOICE -->
                    <input type="checkbox" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"
                    <!-- ENDIF --> />
                    <!-- ELSE --><input type="radio" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ENDIF -->
                    <!-- ENDIF -->
				    <!-- IF S_DISPLAY_RESULTS -->
                    <div class="progress progress-striped active">

                        <div class="bar <!-- IF poll_option.POLL_OPTION_PCT < 20 -->bar-info
                        <!-- ELSEIF poll_option.POLL_OPTION_PCT < 40 -->bar-success
                        <!-- ELSEIF poll_option.POLL_OPTION_PCT < 60 -->bar-warning
                        <!-- ELSEIF poll_option.POLL_OPTION_PCT < 80 -->bar-danger
                        <!-- ELSE -->bar-warning" <!-- ENDIF -->style="width: {poll_option.POLL_OPTION_PCT}%">
                        </div>
                    </div>
                    <!-- ENDIF -->
                </div>
                <div class="span2">
				    <!-- IF poll_option.POLL_OPTION_RESULT == 0 -->{L_NO_VOTES}<!-- ELSE -->{poll_option.POLL_OPTION_PERCENT}<!-- ENDIF -->
    			</div>
			</div>	  
              
        	
			<!-- END poll_option -->
            
                
        </div>

			<!-- IF S_DISPLAY_RESULTS -->
				<p>{L_TOTAL_VOTES} : {TOTAL_VOTES}</p>
			<!-- ENDIF -->

			<!-- IF S_CAN_VOTE -->
				
					<p><input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="btn btn-info" /></p>
				
			<!-- ENDIF -->

			<!-- IF not S_DISPLAY_RESULTS -->
				
					<p><a href="{U_VIEW_RESULTS}">{L_VIEW_RESULTS}</a></p>
				
			<!-- ENDIF -->
			
		

		{S_FORM_TOKEN}
		{S_HIDDEN_FIELDS}
	


	</form>
	<hr />
<!-- ENDIF -->

<table class="table table-striped table-bordered">
<!-- BEGIN postrow -->
<tr>
    <td>
        <div class="row-fluid">
            <div class="span2 small">
			    <!-- IF postrow.S_IGNORE_POST -->
				<p>{postrow.L_IGNORE_POST}</p>
			    <!-- ELSE -->
    			<!-- IF postrow.S_POST_UNAPPROVED or postrow.S_POST_REPORTED -->
				<p class="rules">
					<!-- IF postrow.S_POST_UNAPPROVED -->{UNAPPROVED_IMG} <a href="{postrow.U_MCP_APPROVE}"><strong>{L_POST_UNAPPROVED}</strong></a><br /><!-- ENDIF -->
					<!-- IF postrow.S_POST_REPORTED -->{REPORTED_IMG} <a href="{postrow.U_MCP_REPORT}"><strong>{L_POST_REPORTED}</strong></a><!-- ENDIF -->
				</p>
	    		<!-- ENDIF -->

		    	<!-- IF postrow.S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
			    <!-- IF postrow.EDITED_MESSAGE or postrow.EDIT_REASON -->
				<div class="alert">{postrow.EDITED_MESSAGE}
					<!-- IF postrow.EDIT_REASON --><br /><strong>{L_REASON}:</strong> <em>{postrow.EDIT_REASON}</em><!-- ENDIF -->
				</div>
			    <!-- ENDIF -->
    			<!-- IF postrow.BUMPED_MESSAGE --><div class="notice"><br /><br />{postrow.BUMPED_MESSAGE}</div><!-- ENDIF -->
        		<!-- ENDIF -->

        		<!-- IF not postrow.S_IGNORE_POST -->
			
                			<p class="lead">{postrow.POST_AUTHOR_FULL}<br>
                            <small>
                            <!-- BEGIN custom_fields -->
    		{postrow.custom_fields.PROFILE_FIELD_VALUE}<br>
		<!-- END custom_fields -->
                            </small></p>
                                       <!-- IF postrow.POSTER_AVATAR -->
                    <div class="centre pad">
                    {postrow.POSTER_AVATAR}
                    </div>
                    <br>
    			<!-- ENDIF -->
				<div class="more pad">
     
                
	    		<!-- IF postrow.POSTER_POSTS != '' --><strong>{L_POSTS}:</strong> {postrow.POSTER_POSTS}<br><!-- ENDIF -->
		        <!-- IF postrow.POSTER_JOINED --><strong>{L_JOINED}:</strong> {postrow.POSTER_JOINED}<br><!-- ENDIF -->
		        <!-- IF postrow.POSTER_FROM --><strong>{L_LOCATION}:</strong> {postrow.POSTER_FROM}<!-- ENDIF -->

		        <!-- IF postrow.S_PROFILE_FIELD1 -->
			    <!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
			    <!-- <strong>{postrow.PROFILE_FIELD1_NAME}:</strong> {postrow.PROFILE_FIELD1_VALUE}-->
		        <!-- ENDIF -->
                <p><!-- IF postrow.RANK_TITLE or postrow.RANK_IMG -->{postrow.RANK_TITLE}<!-- IF postrow.RANK_TITLE and postrow.RANK_IMG --><!-- ENDIF -->{postrow.RANK_IMG}<!-- ENDIF --></p>
		
        </div>
        <a href="#" class="viewMore btn btn-mini"><i class="icon-chevron-down"></i> More</a>
	<!-- ENDIF -->

		<a href="#wrap" class="btn btn-mini" title="{L_BACK_TO_TOP}"><i class="icon-arrow-up"></i> {L_BACK_TO_TOP}</a>

	</div>
    <div class="span10">
	    <!-- IF postrow.S_FIRST_UNREAD --><a id="unread"></a><!-- ENDIF -->
	    <div id="p{postrow.POST_ID}">
        <div class="row-fluid">
        <div class="span4">
			<h3><small><!-- IF postrow.POST_ICON_IMG -->
                <img src="{T_ICONS_PATH}{postrow.POST_ICON_IMG}" width="{postrow.POST_ICON_IMG_WIDTH}" height="{postrow.POST_ICON_IMG_HEIGHT}" alt="" /> <!-- ENDIF -->
                <a href="#p{postrow.POST_ID}">{postrow.POST_SUBJECT}</a></small></h3>
                </div>
                <div class="span8 text-right">
                    <small><strong>{postrow.POST_DATE}</strong></small><br>
                    <!-- IF not S_IS_BOT -->
    		        <!-- IF postrow.U_EDIT or postrow.U_DELETE or postrow.U_REPORT or postrow.U_WARN or postrow.U_INFO or postrow.U_QUOTE -->
					<!-- IF postrow.U_EDIT --><a href="{postrow.U_EDIT}" class="btn btn-mini" title="{L_EDIT_POST}"><span><i class="icon-edit"></i> {L_EDIT_POST}</span></a><!-- ENDIF --> 
					<!-- IF postrow.U_DELETE --><a href="{postrow.U_DELETE}" class="btn btn-mini" title="{L_DELETE_POST}"><span><i class="icon-trash"></i> {L_DELETE_POST}</span></a><!-- ENDIF --> 
					<!-- IF postrow.U_REPORT --><a href="{postrow.U_REPORT}" class="btn btn-mini" title="{L_REPORT_POST}"><span><i class="icon-warning-sign"></i> {L_REPORT_POST}</span></a><!-- ENDIF --> 
					<!-- IF postrow.U_WARN --><a href="{postrow.U_WARN}" class="btn btn-mini" title="{L_WARN_USER}"><span><i class="icon-exclamation-sign"></i> {L_WARN_USER}</span></a><!-- ENDIF --> 
					<!-- IF postrow.U_INFO --><a href="{postrow.U_INFO}" class="btn btn-mini" title="{L_INFORMATION}"><span><i class="icon-info-sign"></i> {L_INFORMATION}</span></a><!-- ENDIF --> 
					<!-- IF postrow.U_QUOTE --><a href="{postrow.U_QUOTE}" class="btn btn-mini" title="{L_REPLY_WITH_QUOTE}"><span><i class="icon-comment"></i> {L_REPLY_WITH_QUOTE}</span></a><!-- ENDIF --> 
			        <!-- ENDIF -->
                </div>
                </div>
        </div>
        <br>
		<div>{postrow.MESSAGE}</div>
                <!-- IF postrow.S_HAS_ATTACHMENTS -->
                <div class="well">
					{L_ATTACHMENTS}
					<!-- BEGIN attachment -->
						{postrow.attachment.DISPLAY_ATTACHMENT}
					<!-- END attachment -->
                </div>    
			    <!-- ENDIF -->
                <!-- IF not S_IS_BOT -->
		        <!-- IF postrow.U_PM or postrow.U_EMAIL or postrow.U_WWW or postrow.U_MSN or postrow.U_ICQ or postrow.U_YIM or postrow.U_AIM or postrow.U_JABBER -->
				&nbsp;
                <div>
					<!-- IF postrow.U_PM --><a href="{postrow.U_PM}" class="btn btn-mini btn-inverse" title="{L_PRIVATE_MESSAGE}"><span><i class="icon-envelope icon-white"></i> {L_PRIVATE_MESSAGE}</span></a>&nbsp;<!-- ENDIF -->
					<!-- IF postrow.U_EMAIL --><a href="{postrow.U_EMAIL}" class="btn btn-mini btn-primary" title="{L_SEND_EMAIL_USER} {postrow.POST_AUTHOR}"><span><i class="icon-inbox"></i> {L_SEND_EMAIL_USER} {postrow.POST_AUTHOR}</span></a>&nbsp;<!-- ENDIF -->
					<!-- IF postrow.U_WWW --><a href="{postrow.U_WWW}" class="btn btn-mini btn-info" title="{L_VISIT_WEBSITE}: {postrow.U_WWW}"><span><i class="icon-globe"></i> {L_WEBSITE}</span></a>&nbsp;<!-- ENDIF -->
					<!-- IF postrow.U_MSN --><a href="{postrow.U_MSN}" class="btn btn-mini" onclick="popup(this.href, 550, 320); return false;" title="{L_MSNM}"><span>{L_MSNM}</span></a>&nbsp;<!-- ENDIF -->
					<!-- IF postrow.U_ICQ --><a href="{postrow.U_ICQ}" class="btn btn-mini" onclick="popup(this.href, 550, 320); return false;" title="{L_ICQ}"><span>{L_ICQ}</span></a>&nbsp;<!-- ENDIF -->
					<!-- IF postrow.U_YIM --><a href="{postrow.U_YIM}" class="btn btn-mini" onclick="popup(this.href, 780, 550); return false;" title="{L_YIM}"><span>{L_YIM}</span></a>&nbsp;<!-- ENDIF -->
					<!-- IF postrow.U_AIM --><a href="{postrow.U_AIM}" class="btn btn-mini" onclick="popup(this.href, 550, 320); return false;" title="{L_AIM}"><span>{L_AIM}</span></a>&nbsp;<!-- ENDIF -->
					<!-- IF postrow.U_JABBER --><a href="{postrow.U_JABBER}" class="btn btn-mini" onclick="popup(this.href, 550, 320); return false;" title="{L_JABBER}"><span>{L_JABBER}</span></a><!-- ENDIF -->
				<div>
        		<!-- ENDIF -->
		        <!-- ENDIF -->
            <hr />
			<!-- IF postrow.SIGNATURE -->
            <div id="sig{postrow.POST_ID}"><small>{postrow.SIGNATURE}</small></div>
            <!-- ENDIF -->
            <!-- ENDIF -->
        </div>
    
    </div>    

    
    

</td></tr>
<!-- END postrow -->
</table>

        <!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
		<div class="<!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->reply-icon<!-- ENDIF -->">
        
            	<a href="{U_POST_REPLY_TOPIC}" class="btn btn-primary" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->"><!-- IF S_IS_LOCKED --><i class="icon-lock icon-white"></i>{L_TOPIC_LOCKED_SHORT}<!-- ELSE --><i class="icon-edit icon-white"></i> {L_POST_REPLY}<!-- ENDIF --></a>
            
            
        </div>
	<!-- ENDIF -->
    
</div>
<!-- IF S_QUICK_REPLY -->
	<!-- INCLUDE quickreply_editor.html -->
<!-- ENDIF -->
<!-- IF S_NUM_POSTS > 1 or PREVIOUS_PAGE -->
	<form id="viewtopic" method="post" action="{S_TOPIC_ACTION}" class="form-horizontal">

	
		<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
		<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
		<!-- IF not S_IS_BOT -->
		<div class="control-group">
      <label class="control-label">{L_DISPLAY_POSTS}</label> 
      <div class="controls">{S_SELECT_SORT_DAYS}</div>
    </div>
    <div class="control-group">
		  <label class="control-label">{L_SORT_BY}</label>
      <div class="controls">{S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR} 
        <input type="submit" name="sort" value="{L_GO}" class="btn btn-inverse" />
    
      </div>
    </div>    
		<!-- ENDIF -->
	

	</form>
	<hr />
<!-- ENDIF -->

<div class="topic-actions">


	<!-- IF PAGINATION or TOTAL_POSTS -->
		<div class="pagination">
			{TOTAL_POSTS}
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>
	<!-- ENDIF -->
</div>

<!-- INCLUDE jumpbox.html -->

<!-- IF S_TOPIC_MOD -->
	<form method="post" action="{S_MOD_ACTION}">
	<fieldset class="quickmod">
		<label for="quick-mod-select">{L_QUICK_MOD}:</label> {S_TOPIC_MOD} <input type="submit" value="{L_GO}" class="button2" />
		{S_FORM_TOKEN}
	</fieldset>
	</form>
<!-- ENDIF -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<h3><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h3>
	<p>{LOGGED_IN_USER_LIST}</p>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
