
h1 { font: 16pt Arial; }
h2 { font: 12pt Arial; }

.relics_head { border:2px gray solid; border-bottom:1px gray solid; font: 10pt Arial; font-weight: bold; padding:8px; margin:0; background-color:white; margin-left:8px; }
.relics_body { border:2px gray solid; border-top:1px gray solid; font: 10pt Arial; padding:8px; margin:0; background-color: white; font-weight:normal; margin-left:8px; }
.relics_name { color: blue; }

strong { color:black; }