<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<div id="wrapfooter">
	<!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF -->
	<span class="copyright">{CREDIT_LINE}
	<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
</div>

<div>&nbsp;</div><div style="font: 10pt Arial; color: white; background-color: #105498; padding: 4px;">
<div style="float:right;"><form name="form1" method="post" action="/quicksearch.php" style="display: inline;" style="margin:0; border: 0; padding: 0;"><input type="text" name="search" style="background-color: #66ACD6; color: white; border: 0; font: 8pt Arial"><input type="hidden" name="series" value=""> <input type="hidden" name="section" value="comics"><input type="submit" name="Submit" value="search" style="font: 10pt Arial; border: 0; background-color: #105498; color: white;"></form></div>
<a href="/contact.php" style="color: white ! important;">contact</a> | <a href="/staff.php" style="color: white ! important;">staff</a> | <a href="/history.php" style="color: white ! important;">history</a> | <a href="/disclaimer.php" style="color: white ! important;">disclaimer</a> | <a href="/rules.php" style="color: white ! important;">forum rules</a></div>

</body>
</html>