body 
   {
   font-family: Arial, Helvetica, sans-serif; 
   color:#000;
   background-color: #E9E9E9;
   margin: 0px;
   }


/* BLUE MENU AND BOTTOM BARS ////////////////////////////////////////////////////////// */


.minibot {font-size: 10px;}



table {font-size: 12px;}


tr.menurow1 {background-color: #787878;}

tr.menurow2 {background-color: #787878; color:#fff;}

tr.wittxt {color:#fff;}

table.bottombartable {height: 18px;}


a.menu:link 
{ 
   text-decoration: none; 
   color: #fff;
   font-weight: normal;
}

a.menu:visited 
{ 
   text-decoration: none; 
   color: #fff;
   font-weight: normal;
}

a.menu:active
{ 
   text-decoration: none; 
   color: #fff;
   font-weight: normal;   
}

a.menu:hover
{ 
   text-decoration: underline; 
   color: #fff;
   font-weight: normal;   
}



/* CONTENT ////////////////////////////////////////////////////////// */

hr
{
color: #787878;
height: 1px;
noshade;
}

td.greybar {background-color: #D7D7D7;}

table.fulltables {height: 100%;}

img {border: none;}

strong {color: #333333; font-weight: bold; font-size: 12px;}


a:link      
{ 
   text-decoration: none; 
   color: #333333; 
   font-weight: bold;
}

a:visited   
{ 
   text-decoration: none; 
   color: #333333; 
   font-weight: bold;
}

a:active
{ 
   text-decoration: none; 
   color: #333333; 
   font-weight: bold;   
}

a:hover
{ 
   text-decoration: underline; 
   color: #333333; 
   font-weight: bold;
}




/* FORMS ////////////////////////////////////////////////////////// */


form { margin: 0px; }


.inputsmall
{  
  width: 132px;
  height: 14px;
  background-color: #D7D7D7;
  font-size: 10px; 
  color: #000;
  border: 0px;
}


.button
{  
  width: 50px;
  height: 14px;
  background-color: #787878;
  font-size: 12px; 
  color: #fff;
  border: 0px;
}