body 
   {
   font-family: Arial, Helvetica, sans-serif; 
   color:#000;
   background-color: #E9E9E9;
   margin: 0px;
   }


/* BLUE MENU AND BOTTOM BARS ////////////////////////////////////////////////////////// */


table {font-size: 12px;}

tr.menurow1 {background-color: #146AC0;}

tr.menurow2 {background-color: #105498; color:#fff;}

tr.menurow3 {background-color: #0D4277;}

tr.menurow4 {background-color: #D7D7D7;}

table.bottombartable {height: 18px;}


a.menu:link 
{ 
   text-decoration: none; 
   color: #fff;
   font-weight: normal;
}

a.menu:visited 
{ 
   text-decoration: none; 
   color: #fff;
   font-weight: normal;
}

a.menu:active
{ 
   text-decoration: none; 
   color: #fff;
   font-weight: normal;   
}

a.menu:hover
{ 
   text-decoration: underline; 
   color: #fff;
   font-weight: normal;   
}



/* CONTENT ////////////////////////////////////////////////////////// */

.head1
{
font-size: 11px;
color: #105498;
font-weight: bold;
}


.head2
{
font-size: 18px;
color: #105498;
font-weight: bold;
}

.head3
{
font-size: 15px;
color: #105498;
font-weight: bold;
}


.bluehead
{
font-size: 22px;
color: #105498;
font-weight: bold;
}


.orangehead
{
font-size: 22px;
color: #FF6600;
font-weight: bold;
}

.greytxt
{
color: #666666;
font-weight: bold;
}

.blackstrong
{
color: #000;
font-weight: bold;
}

.orangestrong
{
color: #FF6600;
font-weight: bold;
}



hr
{
color: #105498;
height: 1px;
noshade;
}

td.greybar {background-color: #D7D7D7;}

td.greybar2 {background-color: #E0E0E0;}

td.subcolor {background-color: #146AC0; color: #fff; font-weight: bold;}

td.txt {padding-left: 10px; padding-top: 40px; padding-bottom:12px;}

td.media {padding-left: 10px; padding-top: 100px; padding-bottom: 10px;}

td.pad {padding-left: 5px;}

td.homepad {padding: 16px;}

td.homeline{border-left: 1px; border-right: 0px; border-bottom: 0px; border-top: 0px;border-style: solid; border-color: #105498; }

td.icon{border: 1px; border-style: solid; border-color: #105498; }

table.fulltables {height: 100%;}

table.media {border: 1px; border-style: solid; border-color: #105498; font-size: 9px; }



img {border: none;}

img.blueborder {border: 1px; border-style: solid; border-color: #105498; }

img.orangeborder {border: 1px; border-style: solid; border-color: #FF6600; }

img.subcolor {border: 1px; border-style: solid; border-color: #146AC0; }


strong {color: #105498; font-weight: bold; font-size: 12px;}

strong.white {color: #fff; font-weight: bold; font-size: 12px;}

strong.orange {color: #000; font-weight: bold;}


a:link,a:visited,a:active,a:hover
{ 
   text-decoration: underline; 
   color: #105498; 
   font-weight: bold;
}

a.noline:link,a.noline:visited,a.noline:active,a.noline:hover
{ 
   text-decoration: none; 
   color: #105498; 
   font-weight: bold;
}


a.or:link,a.or:visited,a.or:active,a.or:hover
{ 
   text-decoration: underline; 
   color: #000; 
}



a.mini:link      
{ 
   font-size: 9px;
   font-weight: normal;  
}

a.mini:visited
{ 
   font-size: 9px;
   font-weight: normal;  
}


a.nobold:link      
{ 
   text-decoration: none; 
   color: #105498; 
   font-weight: normal;  
}

a.nobold:visited   
{ 
   text-decoration: none; 
   color: #105498;
   font-weight: normal;     
}

a.nobold:active
{ 
   text-decoration: none; 
   color: #105498;
   font-weight: normal;     
}

a.nobold:hover
{ 
   text-decoration: underline; 
   color: #105498; 
   font-weight: normal;  
}


.mini
{font-size: 9px;}

/* FORMS ////////////////////////////////////////////////////////// */


form { margin: 0px; }


.inputsmall
{  
  width: 132px;
  height: 14px;
  background-color: #66ACD6;
  font-size: 10px; 
  color: #000;
  border: 0px;
}


.button
{  
  width: 50px;
  height: 14px;
  background-color: #105498;
  font-size: 12px; 
  color: #fff;
  border: 0px;
}